* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Inter',
    Arial, sans-serif;
    font-size: 16px;
    color: #1D1D1D;
    background: #FFFFFF;
}

h1 {
    width: 100%;
    line-height: 1.2;
    font-size: 42px;
    font-weight: 700;
}
h2, h3 {
    line-height: 1.2;
    font-size: 42px;
    font-weight: 700;
}
p, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
}
b {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

nav { display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style: none;
}

